---
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
---

Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -4
MaxEmptyLinesToKeep: 2
FixNamespaceComments: true
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Allman